<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
   {{>navbar}}

 
<div class="main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
        
                <div class=" main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="image/404.jpg" alt="arjun" class="img-fluid" title="Arjun Suthar">
                    </figure>
    
                    
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Go Back</button></a> 
                </div>
           
        </div>
    </div>
</div>   


 <footer>
        <p>
            created with 😊💜 by Arjun
        </p>
    </footer>

</body>
</html>